@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/***** SUCTOM  SCROLLBAR *****/
::-webkit-scrollbar {
  @apply w-4 bg-[#e1e1e1];
}

::-webkit-scrollbar-track {
  @apply bg-[#e1e1e1];
}

::-webkit-scrollbar-thumb {
  border: 4px solid #e1e1e1;
  @apply rounded-full bg-[#a7a7ad];
}

/***** ANIMATIONS *****/
@keyframes loading {
  to {
    opacity: 0.3;
    transform: translate3d(0, -1rem, 0);
  }
}
